<launch>
  <arg name="robot_label" value="$(optenv TURTLEBOT_LABEL robot_0)" />
  <group ns="$(arg robot_label)">
    <param name="tf_prefix" value="robot_0" />
    <node pkg="custom_navigation" type="adcDriver" name="adcDriver" respawn="false" />
    <node pkg="custom_navigation" type="adcParams" name="adcParams" respawn="false" output="screen"/>
      <param name="avg" value="1.25543" />
      <param name="gain" value="414.974" />
    <node pkg="custom_navigation" type="odom_gyro" name="odom_gyro" respawn="false" />  
</group>

  <!--  fake sensor for amcl -->
  <node pkg="custom_navigation" type="robot_obstacle" name="robot_obstacle" respawn="false" >
    <param name="robot_name" value="$(arg robot_label)" />
  </node>
  
  <!--  fake positions for amcl simulation 
  <node pkg="custom_navigation" type="robot_position" name="$(anon robot_position)" respawn="false" >
    <param name="robot_name" value="robot_2" />
  </node>
  <node pkg="custom_navigation" type="robot_position" name="$(anon robot_position)" respawn="false" >
    <param name="robot_name" value="robot_3" />
  </node>  
  <node pkg="custom_navigation" type="robot_position" name="$(anon robot_position)" respawn="false" >
    <param name="robot_name" value="robot_4" />
  </node>  
  <node pkg="custom_navigation" type="robot_position" name="$(anon robot_position)" respawn="false" >
    <param name="robot_name" value="robot_5" />
  </node>-->
  
</launch>
