<launch>
  <arg name="robot_label" value="$(optenv TURTLEBOT_LABEL robot_0)" />

  <group ns="$(arg robot_label)">
    <param name="tf_prefix" value="$(arg robot_label)" />
    <param name="camera/driver/data_skip" value="20" />

    <include file="$(find openni_launch)/launch/openni.launch">
      <arg name="tf_prefix" value="/$(arg robot_label)"/>
      <arg name="publish_tf" value="false"/>
    </include>

    
    <node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen" />
    <!-- Run a VoxelGrid filter to clean NaNs and downsample the data -->
    <node pkg="nodelet" type="nodelet" name="voxel_grid" args="load pcl/VoxelGrid pcl_manager" output="screen">
      <remap from="~input" to="camera/depth/points" />
      <remap from="~output" to="voxel_grid/points" />
      <rosparam>
        filter_field_name: z
        filter_limit_min: 0.01
        filter_limit_max: 5.0
        filter_limit_negative: False
        leaf_size: 0.075
      </rosparam>
    </node>
  </group>
</launch>
