<launch>
    <node pkg="master_discovery_fkie" type="master_discovery" name="master_discovery" respawn="false" output="screen">
        <param name="static_hosts" value="10.240.204.54"/>
    </node>
    <node pkg="master_sync_fkie" type="master_sync" name="master_sync" respawn="false" output="screen">   
    	<param name="sync_hosts" value="10.240.204.54"/>
    	<param name="sync_topics" value="jpTopic"/>  
    	<param name="sync_topics_on_demand" value="true"/>	
    </node>
</launch>
