<launch>
  <arg name="robot_label" value="$(optenv TURTLEBOT_LABEL robot_0)" />
  <group ns="$(arg robot_label)">
    <param name="tf_prefix" value="$(arg robot_label)" /> 
    <node pkg="custom_navigation" type="random_position"  name="random_position" respawn="false" output="screen" />
  </group>
</launch>
  
