<launch>
<arg name="robot_label" value="$(optenv TURTLEBOT_LABEL robot_0)" />

<!--  <include file="$(find turtlebot_bringup)/launch/3dsensor.launch">
    <arg name="rgb_processing" value="false" />
    <arg name="depth_registration" value="false" />
    <arg name="depth_processing" value="false" />
  </include>
-->
  <!-- Map server -->
  <arg name="map_file" default="$(find custom_navigation)/maps/ulaval1.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" output="screen">
    <param name="frame_id" value="/map"/>
  </node>


  
  <arg name="scan_topic" default="scan"/>
  <arg name="use_map_topic" default="false"/>
  <arg name="initial_pose_x" default="0.0"/> <!-- Use 17.0 for willow's map in simulation -->
  <arg name="initial_pose_y" default="0.0"/> <!-- Use 17.0 for willow's map in simulation -->
  <arg name="initial_pose_a" default="0.0"/>



<group ns="$(arg robot_label)">
<param name="tf_prefix" value="$(arg robot_label)" />

  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <param name="use_map_topic" value="$(arg use_map_topic)"/>
    <!-- Publish scans from best pose at a max of 10 Hz -->
    <param name="odom_model_type" value="diff"/>
    <param name="odom_alpha1" value="0.4"/>
    <param name="odom_alpha2" value="0.4"/>
    <param name="odom_alpha3" value="0.4"/>
    <param name="odom_alpha4" value="0.4"/>
    <param name="odom_alpha5" value="0.15"/>
    <param name="gui_publish_rate" value="10.0"/>
    <param name="laser_max_beams" value="60"/>
    <param name="laser_max_range" value="-1.0"/>
    <param name="min_particles" value="300"/>
    <param name="max_particles" value="5000"/>
    <param name="kld_err" value="0.05"/>
    <param name="kld_z" value="0.99"/>
    <!-- translation std dev, m -->
    <param name="laser_z_hit" value="0.90"/>
    <param name="laser_z_short" value="0.05"/>
    <param name="laser_z_max" value="0.05"/>
    <param name="laser_z_rand" value="0.1"/>
    <param name="laser_sigma_hit" value="0.2"/>
    <param name="laser_lambda_short" value="0.1"/>
    <param name="laser_model_type" value="likelihood_field"/>
    <!-- <param name="laser_model_type" value="beam"/> -->
    <param name="laser_likelihood_max_dist" value="2.0"/>
    <param name="update_min_d" value="0.25"/>
    <param name="update_min_a" value="0.2"/>
    <param name="odom_frame_id" value="odom_gyro"/>
    <param name="base_frame_id" value="base_footprint"/>
    <param name="global_frame_id" value="/map"/>
    <param name="resample_interval" value="2"/>
    <!-- Increase tolerance because the computer can get quite busy -->
    <param name="transform_tolerance" value="1.0"/>
    <param name="recovery_alpha_slow" value="0.001"/>
    <param name="recovery_alpha_fast" value="0.01"/>
    <remap from="scan" to="$(arg scan_topic)"/>
    <param name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <param name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <param name="initial_pose_a" value="$(arg initial_pose_a)"/>
    <param name="initial_cov_xx" value="0.05"/>
    <param name="initial_cov_yy" value="0.05"/>
    <param name="initial_cov_aa" value="0.02"/>
    <param name="first_map_only" value="true" />
    <!-- <remap from="map" to="/map" /> -->
    <remap from="static_map" to="/static_map"/>
  </node>

  <node pkg="nodelet" type="nodelet" name="navigation_velocity_smoother" args="load yocs_velocity_smoother/VelocitySmootherNodelet mobile_base_nodelet_manager">
    <rosparam file="$(find turtlebot_bringup)/param/defaults/smoother.yaml" command="load"/>
    <remap from="navigation_velocity_smoother/odometry" to="odom_gyro"/> <!-- Todo : moved to odom_combined -->
    <remap from="navigation_velocity_smoother/raw_cmd_vel" to="cmd_vel_mux/input/navi_raw"/>
    <remap from="navigation_velocity_smoother/smooth_cmd_vel" to="cmd_vel_mux/input/navi"/>
  </node>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find custom_navigation)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find custom_navigation)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find custom_navigation)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find custom_navigation)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find custom_navigation)/param/base_local_planner_params.yaml" command="load" />
    <param name="global_frame" value="/map" />
    <remap from="cmd_vel" to="cmd_vel_mux/input/navi_raw"/>
    <remap from="odom" to="odom_gyro" />
    <remap from="map" to="/map" />
  </node>

</group>
</launch>
  
