<launch>  
  <include file="$(find custom_navigation)/launch/create.launch"/>
  <include file="$(find custom_navigation)/launch/custom_navigation.launch"/>
  <include file="$(find custom_navigation)/launch/kinect_filtered.launch"/>
  <include file="$(find custom_navigation)/launch/amcl_demo.launch"/>
  <include file="$(find custom_navigation)/launch/gateway_robot.launch"/>
</launch>
