<launch>  
  <include file="$(find custom_navigation)/launch/slim_create.launch"/>
  <include file="$(find custom_navigation)/launch/custom_navigation.launch"/>
  <include file="$(find custom_navigation)/launch/kinect_filtered.launch"/>
  <include file="$(find custom_navigation)/launch/slim_amcl.launch"/>
  <include file="$(find custom_navigation)/launch/gateway_robot.launch"/>
</launch>
